<div class="doggo" [style.background-image]="'url(' + doggo.message + ')'">
    <span [class]="['material-icons', 'favourite', favouriteCssClass]" (click)="heartDoggo()">favorite</span>
</div>
<div class="favourites">
    <span *ngIf="favourites.length == 0">
        Your favourites will show here.
    </span>
    <ul *ngIf="favourites.length > 0">
        <li *ngFor="let favourite of favourites" class="thumbnail" [style.background-image]="'url(' + favourite.message + ')'" (click)="getFavourite(favourite)"></li>
    </ul>
</div>
<button class="button get-doggo-button" (click)="getDoggo()">Fetch!</button>
<!-- <span [class]="['material-symbols-outlined', 'ball', bounceCssClass]">sports_baseball</span> -->